*{
	box-sizing: border-box;
}

body {
	font-family: ariel;
}

header .content {
	background: url("../images/Rectangle2.jpg") no-repeat center;
    background-size: cover;
    height: 900px;
    position: relative;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	height:56.25rem;
}
.navbar{
	padding-left: 4.12rem;
	padding-right: 4.12rem;
}

.menu   a{
	color: #fff !important;
}

.menu .active{
	color:  #0052ff !important;
}

.menu a:hover{
	color:  #0052ff !important;
}

.slidder-content {
	text-align: center;
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}

.slidder-content button {
	background-color: #0052ff;
	color: #fff;
	border: none;
	outline: none;
	padding: 10px 20px;
}

.section1 h4 {
	color:  #0052ff;
}
.section1 img {
	color:  #0052ff;
	width: 40%;
	height: auto;
}
		/*Department*/
.section2{
	background-color: #ddd;
}

.department {
	box-shadow: 5px 2px 15px 0 rgba(0,0,0,.5);
	background-color: #fff;
	color: #0052ff;
}

.department-icon{
	display: block;
	width: 40%;
	height: auto;
	margin: auto;
}

.department .department-icon2 {
	display: none;
}

.department:hover {
	background-color: #0052ff;
	color: #fff;
}

.department:hover .department-icon2{
	display: block;
	width: 40%;
	height: auto;
	margin: auto;
}

.department:hover .department-icon{
	display: none;
}




		/*Services*/
.service1 {
	border: 1px solid #0052ff;
}

.service1 .img1 {
	display: block;
	width: 40%;
	height: auto;
}
.service1 .img2 {
	display: none;
}

.service1:hover{
	background-color: #0052ff;
	color: #fff;
}
.service1:hover .img2{
	display: block;
	width: 40%;
	height: auto;
}
.service1:hover .img1{
	display: none;
}


.service2 {
	border: 1px solid #0052ff;
}
.service2 .img1 {
	display: block;
	width: 40%;
	height: auto;
}
.service2 .img2 {
	display: none;
}

.service2:hover{
	background-color: #0052ff;
	color: #fff;
}
.service2:hover .img2{
	display: block;
	width: 40%;
	height: auto;
}
.service2:hover .img1{
	display: none;
}


.service3 {
	border: 1px solid #0052ff;
}
.service3 .img1 {
	display: block;
	width: 40%;
	height: auto;
}
.service3 .img2 {
	display: none;
}

.service3:hover{
	background-color: #0052ff;
	color: #fff;
}
.service3:hover .img2{
	display: block;
	width: 40%;
	height: auto;
}
.service3:hover .img1{
	display: none;
}


		/*FAQ*/
.section4 {
	background-color: #E5E5E5;
}

.section4 img {
	width: 90%;
	height: auto;
}

.FAQ  [type=button] {
	width: 100%;
	background-color: #fff;
	padding: 0.9rem;
	border: 1px solid #0052ff;
}

.questions .fas{
	float: right;
}

.FAQ button {
	background-color: #0052ff;
	color: #fff;
	border: none;
	outline: none;
	padding: 10px 20px;
}


		/*specialist*/
.specialists{
	/*border: 1px solid #0052ff;*/
	border-radius: 10px;
}

.specialists .card1{
	border: 1px solid #0052ff;
	border-top: 0px;
	border-radius: 0px 0px 10px 10px;
}

		/*testimonial*/
.section6 {
	background: url("../images/Rectangle41.png") no-repeat;
    background-size: cover;
    height: 515px;
    position: relative;
}

.overlay2 {
	background-color: rgba(0, 82, 255, 0.3);
	height: 100%;
}

.testimonial {
	text-align: center;
  	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;	
}

.stars {
	width: 40%;
	height: auto;
}

.testimonial span {
	color: #0052ff;
}



		/*form*/
.section7 .Professional{
	width: 100%;
	height: auto;
}

/*.section7 fieldset{
	border: 1px solid #0052ff;
}*/

[type=text] {
	border: 1px solid #0052ff;
	outline: none;
	width: 100%;
	padding: 0.7rem;
}

[type=email] {
	border: 1px solid #0052ff;
	outline: none;
	width: 100%;
	padding: 0.7rem;	 
}

textarea {
	border: 1px solid #0052ff;
	outline: none;
	width: 100%;
	padding: 0.7rem;
}

.section7 [type=submit] {
	background-color: #0052ff;
	color: #fff;
	border: none;
	outline: none;
	padding: 10px 20px;
}


		/*map*/
.section8 .maps {
	width: 100%;
}

		/*Contact us*/
.section9 .contact-icon {
	width: 10%;
	height: auto;
}

.section9 span {
	color: #0052ff;
}



		/*footer*/
footer {
	background-color: #0052ff; 
	align-items: center;
}

footer .footer-icon {
	width: 30%;
	height: auto;
}
footer li{
	list-style: none;
	display: inline-block;
}